body {
  font-family: sans-serif;
}
.menu-item {
  display: flex;
  justify-content: space-evenly;
  color: violet;
  padding: 2rem;
}
.img {
  height: 200px;
  display: flex;
  padding-left: 10rem;
}
